<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('Bulma') }}
        {% endblock %}
    </head>
    <body>
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Nepritrūk žodžių!
                </h1>
            </div>
        </div>
    </section>
            {% block body %}
            {% endblock %}
    </body>
</html>
