{% extends 'base.html.twig' %}
{% block body %}





    <section class="section mt-6">
        <div class="container ">
            <div class="columns is-mobile is-centered">
                <div class="column is-half has-text-centered">
                    <div class=" is-size-3 is-family-code ">
                        {% if sentence == null %}
                        <p>Our website is in maintenance mode. Please, come back later.</p>
                        {% else %}
                        {{ sentence.sentence }}
                    </div>
                    {% set slugUrl = absolute_url(path('slug_name', {'slug': sentence.slug})) %}
                    <a class="button is-link is-rounded my-4" href="{{ slugUrl }}"> Saved Sentence</a>
                    <a class="button is-link is-rounded my-4" href="{{ path('random_sentence') }}">HOME PAGE</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
