{% extends 'base.html.twig' %}
{% block body %}

    <section class="section mt-6">
        <div class="container ">
            <div class="columns is-mobile is-centered">
                <div class="column is-half has-text-centered">
                        <div id="sentence" class=" is-size-3 is-family-code has-text-left	">{{ randomSentence }}</div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button id="save" type="submit" class="button is-link is-rounded my-4">Išsaugok mane</button>
                    {{ form_end(form) }}
                    <button name="refresh" class="button is-link is-rounded my-4" onclick="location.reload();">Refresh Page</button>

                </div>
            </div>
        </div>
    </section>









{% endblock %}
